/*
Table of Contents

The CSS in this project is rather long so here is a guide.

1. Main Window Formating
2. Small navmenu (only seen on screens < 769px)
3. Large navemenu (only seen on screens > 768px)
4. resume specific formating
5. @media screen entries

Everything listed in these catagories is in alphabetical order.
*/

/*Main Window*/
#astroids {
  display: block;
  margin: 7em auto 4em auto;
  width: 70%;
  max-height: 600px;
  min-width: 300px;
  min-height: 250px;
  background-color: black;
}
.button {
  float: right;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin: 0.5em;
}
.contact-box {
  clear: both;
}
h2 {font-family: 'Overpass', sans-serif;}
.img-circle {
  border-radius: 50%;
  width: 15em;
  float: left;
  margin-right: 2em;
  border: 3px solid #000;
}
.profile-main {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 180%;
  text-indent: 1.5em;
  text-align: justify;
  margin-top: 1.5em;
  padding: 1em;
}
.project-blurb {
  margin: 1em;
  text-align: justify;
  font-size: 16pt;
}
ul {
  padding: 0;
  list-style-type: none;
}

/*small navbar formating*/
.menuicon {
  border: 2px solid #000;
  padding: 0 4px;
  background-color: #FFF;
  border-radius: 3px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
}
.dropbtn {
  border: none;
  background-color: white;
  padding: 0;
  margin: 1em 0 0 1.5em;
  width: 49px;
  outline: none;
}
.dropdown {
  margin-top: 3em;
  position: relative;
  display: none;
}
.dropdown-content {
  display: none;
  font-family: 'Overpass', sans-serif;
  position: absolute;
  min-width: 50px;
  border: 1px solid black;
  background-color: #FFF;
  margin: 1em 0 0 1em;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
}
.dropdown-content a {
    color: black;
    padding: 0.8em 1em;
    text-decoration: none;
    display: inline-block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.wrap {margin-top: 4em;}

/* large navbar */
#nav {
  font-family: 'Overpass', sans-serif;
  width: 80%;
  max-width: 55em;
  margin: -12px auto;
  border: 4px solid #333;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 1px 1px 0 #888, 0 -1px 0 #AAA;
  text-shadow: 1px 1px 1px #888;
  text-align: center;
}
#nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em 0 1em;
  color: #333;
}
#nav a:hover {
  background-color: #EEE;
}
.nav-head a:hover {
  background-color: white !important;
}
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 2;
}
#nav-canvas {
  z-index: 1;
  background-color: lightgray;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
}
#nav li {
  display: inline-block;
}
#nav .nav-head {
  padding: 0.5em 1em 0 1em;
  color: #333;
}
/*Resume*/
.dates {
  position: absolute;
  display: block;
  right: 0;
}
#edu {position: relative;}
#header {
  display: block;
  margin: 5em auto;
  margin-bottom: 1em;
  text-align: center;
}
.left {
  float: left;
  position: relaitve;
  display: inline-block;
  width: 45%;
  min-width: 30em;
  margin: 1em;
  border-left: 1em solid #B61;
  padding-left: 1em;
}
.local {
  position: absolute;
  display: block;
  right: 0;
}
.right {
  float: right;
  position: relative;;
  margin: 1em;
  width: 45%;
  min-width: 30em;
  border-left: 1em solid #B61;
  padding-left: 1em;
  display: inline-block;
}
#workexp{
  position: relative;
}
#workexp p{
  margin: 0;
}

@media screen and (max-width: 1005px) {
  .img-circle {
    float: none;
    display: block;
    margin: auto;
  }
  .profile-main p {margin-top: 1em;}
  .left {
    float: none;
    width: 60%;
    display: block;
  }
  .right {
    float: none;
    display: block;
    width: 90%;
}
}
@media screen and (max-width: 768px) {
  #header{margin-top: -1em;}
  #nav-bar {display: none;}
  .dropdown {display: block;}
  .img-circle {margin-top: -2em;}
  #astroids {
    margin-top: 2em;
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  /*deletes some information on small screens*/
  .left {min-width: 24em; width: 90%}
  .rwd-line {display:none;}
  .right {min-width: 24em; width: 90%}
  #astroids {
    width: 96%;
  }
}
